body {
    display: block;
    margin: 0px;
}

#background{
    margin-top: 0%;
    margin-left: 0%;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    background-image: url('images/3.jpg');
    background-size: cover;
}

#header{
    font-size: x-large;
    margin: 10px;
    font-family: 'Nunito', sans-serif;
    padding: 20px;
    border-radius: 20px;
    position:absolute;
    text-align: center;
    background-color: #BDECB6;
    opacity: 0.6;
}

#footer{
    float: right;
    font-family: 'Nunito', sans-serif;
    text-align: right;
    background: #BDECB6;
    position:absolute;
    bottom:0; 
    width:100%;
    margin-right: 10px;
    margin-block-end: 5px;
    opacity: 0.6;
    border-radius: 20px;
}

#arvore-footer{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}