<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <link href="{% static 'blog/style.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="shortcut icon" href="{% static 'blog/images/Tree-icon.png' %}" type="image/x-icon">
    <title>Árvore do Saber</title>
</head>
<body>
   <div id="background">
       <header>
            <div id="header">
                <h1>Árvore do Saber</h1>
                <h2>Em breve, um clube para quem gosta de ler - e de aprender!</h2>
                <p>Aguarde!</p>
            </div>
        </header>
        <footer>
            <div id="footer">
                <h2><b>Árvore do saber - 2022</b><img id="arvore-footer" src="{% static 'blog/images/Tree-icon.png' %}"></h2>
                
            </div>
        </footer>
    </div>
</body>
</html>